@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
    url('../fonts/JosefinSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
    url('../fonts/JosefinSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gap-left: 70px;
  --header-height: 6rem;
  --transition-background: background-color 0.3s ease-in-out;
}

:root {
  font-size: 0.875em; /* 14px */
}

@media screen and (max-width: 768px) {
  :root {
    --gap-left: 40px;
    font-size: 0.75em; /* 12px */
  }
}

@media screen and (max-width: 480px) {
  :root {
    --gap-left: 20px;
    font-size: 0.625em; /* 10px */
  }
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.theme_color_light {
  --color-bg-default: #ffffff;
  --color-bg-main: #1d1d1d;
  --color-bg-accent: #ffc001;
  --color-bg-card: #fff7f7;
  --color-bg-border: #1d1d1d;

  --color-typo-primary: #1d1d1d;
  --color-typo-secondary: #656565;
  --color-typo-accent: #ffc001;
  --color-typo-card: rgb(21, 37, 54);
  --color-typo-ghost: #fff;
}

.theme_color_dark {
  --color-bg-default: #313131;
  --color-bg-main: #1d1d1d;
  --color-bg-accent: #ffc001;
  --color-bg-card: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  --color-bg-border: #1d1d1d;

  --color-typo-primary: #fff;
  --color-typo-secondary: #c5c5c5;
  --color-typo-accent: #ffc001;
  --color-typo-card: rgb(218, 218, 218);
  --color-typo-ghost: #fff;
}

.theme {
  background-color: var(--color-bg-default);
  color: var(--color-typo-primary);
  transition: var(--transition-background);
}

:focus {
  outline-color: var(--color-bg-accent);
}

::selection {
  background: var(--color-bg-accent);
  color: var(--color-typo-secondary);
}

::placeholder {
  color: var(--color-bg-border);
}

button {
  font: 400 15px 'Josefin Sans', sans-serif;
  cursor: pointer;
}

input,
textarea {
  font: 400 15px 'Josefin Sans', sans-serif;
}

a {
  color: var(--color-typo-secondary);
}

a:hover {
  color: var(--color-typo-primary);
}

.header {
  display: flex;
  height: var(--header-height);
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  z-index: 1;
}

.header__logo {
  background-color: var(--color-bg-main);
  text-transform: uppercase;
  width: 17rem;
}

.header__logo a {
  padding-left: var(--gap-left);
  color: var(--color-typo-ghost);
  line-height: var(--header-height);
  font-size: 1.2rem;
  text-decoration: none;
}

.header__lang {
  height: var(--header-height);
  background-color: var(--color-bg-main);
  display: flex;
  font-size: 12px;
  width: 9rem;
  font-weight: bolder;
}

.header__lang span button {
  margin: 0 15px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 12px;
  color: #fff;
  line-height: var(--header-height);
}

.header__lang button.nav__link_active {
  color: var(--color-bg-accent);
}

.first,
.last {
  display: block;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  width: 50%;
  z-index: 999;
}

.first {
  background-color: var(--color-bg-accent);
  right: 50%;
}

.last {
  background-color: var(--color-bg-default);
  right: 0;
}

.page__sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--color-bg-default);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.5rem;
  transition: var(--transition-background);
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
  cursor: pointer;
  margin-top: calc(var(--header-height) / 2 - 13px);
  z-index: 1;
}

.switch input {
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-bg-main);
  transition: 0.4s;
}

.switch__slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  box-shadow: 0 0px 15px #202020;
  background: white url('../images/icon_sprites.png') -8px -79px;
  background-repeat: no-repeat;
}

input:checked + .switch__slider {
  background-color: var(--color-bg-accent);
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px var(--color-bg-accent);
}

input:checked + .switch__slider:before {
  transform: translateX(24px);
  background: white url('../images/icon_sprites.png') -7px -123px;
  background-repeat: no-repeat;
}

.switch__slider.switch__slider_round {
  border-radius: 34px;
}

.switch__slider.switch__slider_round:before {
  border-radius: 50%;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 100%;
  align-items: center;
  margin-top: 12rem;
}

@media screen and (max-width: 768px) {
  .social {
    margin-top: 2rem;
    height: 150px;
  }
}

.social a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-decoration: none;
  display: flex;
  transition: all 0.4s ease-in-out;
}

.social a:first-child:hover {
  color: #e4405f;
}

.social a:last-child:hover {
  color: #269f42;
}
