html {
  overflow: hidden;
}

.header__nav {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
    visibility: hidden;
  }
}

.nav {
  background-color: var(--color-bg-default);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  transition: var(--transition-background);
}

.nav__link {
  background-color: transparent;
  border: none;
  color: var(--color-typo-secondary);
}

.nav__link:hover {
  color: var(--color-bg-accent);
  text-decoration: underline;
}

.nav__link_active {
  color: var(--color-bg-accent);
}

.page {
  display: flex;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

.page__text {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--gap-left);
}

.page__title {
  font-size: 5.9rem;
  margin-bottom: 4rem;
  max-width: 450px;
  min-width: 280px;
}

.page__desc {
  max-width: 450px;
  line-height: 2.8rem;
  color: var(--color-typo-secondary);
  font-size: 1.4rem;
  margin-bottom: 50px;
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .page__title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .page__desc {
    line-height: 2rem;
    font-size: 1rem;
    margin-bottom: 10px;
  }
}

.page__button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: baseline;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-typo-secondary);
}

.page__button .icon-plus {
  width: 12px;
  height: 12px;
  margin-left: 20px;
  transition: all 0.6s ease;
  background: url('../images/plus.png') no-repeat center;
}

.theme_color_dark .page__button .icon-plus {
  filter: invert(1);
}

.page__button:hover {
  cursor: pointer;
}

.page__button:hover .icon-plus {
  transform: rotate(450deg);
}

.page__content {
  flex: 1;
}

.page__content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.theme_color_dark .page__content img {
  filter: grayscale(0.75);
}

.view__counter {
  position: absolute;
  bottom: 0px;
  left: var(--gap-left);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.view__name {
  height: 3.6rem;
  width: 20rem;
  background-color: var(--color-bg-accent);
  text-align: center;
  line-height: 3.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 4rem;
}

@media screen and (max-width: 840px) {
  .view__name {
    display: none;
  }
}

.view__count {
  height: 5rem;
  width: 22rem;
  background-color: var(--color-bg-main);
  color: var(--color-typo-ghost);
  display: flex;
  align-items: center;
}

.view__count h2 {
  letter-spacing: 1px;
  font-size: 3rem;
  margin: 0 var(--gap-left) 0 20px;
  min-width: 55px;
}

@media (max-width: 600px) {
  .view__count h2 {
    min-width: 40px;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .view__count {
    display: none;
    visibility: hidden;
  }
}

.view__loader {
  height: 3px;
  width: 130px;
  background-color: #656565;
  display: flex;
  justify-content: flex-start;
}

.view__loader-line {
  height: 3px;
  background-color: #fff;
  transition: width 0.5s ease;
}

.view__navigation {
  width: 13rem;
  height: 6.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 2;
}

.view__arrow {
  flex: 1;
  background-color: var(--color-bg-default);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: var(--transition-background);
}

.view__arrow .icon-arrow {
  width: 15px;
  height: 25px;
  background: url('../images/icon_sprites.png') no-repeat -10px -170px;
}

.theme_color_dark .view__arrow .icon-arrow {
  filter: invert(1);
}

.view__arrow.prev {
  background-color: var(--color-bg-accent);
}

.view__arrow.next {
  transition: box-shadow 1s ease;
}

.view__arrow.next:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.view__arrow.next .icon-arrow {
  transform: rotate(180deg);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -20px;
}

.form__title {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 24px;
}

.form__item {
  margin-bottom: 15px;
  background: url('../images/icon_sprites.png') no-repeat -5px -2px;
}

.form__item:first-of-type {
  background: url('../images/icon_sprites.png') no-repeat -5px -38px;
}

.theme_color_dark .form__item {
  filter: invert(1);
}

.form__input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-bg-border);
  padding: 10px 35px;
  width: 100%;
  max-width: 320px;
  font-size: 16px;
}

.form .page__button {
  margin-top: 25px;
  width: 180px;
}

.form__message {
  padding: 10px;
  margin-top: 20px;
  max-width: 320px;
  border-radius: 5px;
  border: 1px solid var(--color-bg-border);
  transition: all 0.3s;
}

.form__message.info {
  background-color: #cce5ff;
}
.form__message.error {
  background-color: #f8d7da;
}
.form__message.success {
  background-color: #d4edda;
}
